.cart-p-card{
  height: 116px;  
  position: relative;
  display: flex;
  gap: 10px;

  &__img{
    width: 116px;
    height: 116px;
  }

  &__info{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &__name{
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
  }

  &__price{
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;    
    color: var(--color-primary);
  }

  &__amount{
    width: 80px;
    height: 42px;
    justify-self: flex-end;

    input{

      font-size: 13px;  
    }
  }

  &__remove{
    position: absolute;
    right: 0;
    top: 0;
    width: 15px;
    height: 15px;

    display: flex;
    align-items: center;
    justify-content: center;

    font-weight: bolder;
    border: none;
    outline: none;
    background-color: transparent;
    cursor: pointer;
  }
}