.navbar{  
  height: 70px;
  max-width: 1248px;
  margin: 0 auto;
  display: flex;
  align-items: flex-end;
  justify-content: space-between; 

  border-bottom: 1px solid var(--color-light-gray);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: var(--color-white);

  &__logo{
    width: 158px;
    height: 40px;

    @media screen and (max-width: 680px){
      width: 99px;
      height: 36px;
    }
  }

  &-list{
    width: 300px;
    height: 100%;   

    display: flex;    
    align-items: flex-end;
    justify-content: flex-end;
    gap: 30px;   
    
    list-style: none;   

    &__item{
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      height: 100%;
      padding-bottom: 12px;
      
      cursor: pointer;

      &-cart{
        position: relative;
      }
    }
    
    &__counter{
      position: absolute;
      top: 27px;
      right: 2px;
      font-size: 10px;

      width: 12px;
      height: 12px;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    &__anchor{
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      height: 100%;
      vertical-align: bottom;
      text-decoration: none;
      color: var(--color-black);

      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 27px;      

      &:hover, &--active{
        border-bottom: 2px solid var(--color-black);
      }     
    }

    &__icon{
      vertical-align: middle;
    }

    @media screen and (max-width: 680px){
      display: none;      
    }
  }

  &-menu{
    height: 100%;
    position: relative;    

    display: flex;
    align-items: center;
    justify-content: center;

    &__icons{
      display: flex;
      gap: 20px;
      align-items: center;
      justify-content: center;
      
      height: 100%;
      list-style: none;
      cursor: pointer;

      &-item{
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        height: 100%;
        padding-bottom: 12px;
        
        cursor: pointer;        
        position: relative;

        &-counter{
          position: absolute;
          top: 27px;
          right: 2px;
          font-size: 10px;
    
          width: 12px;
          height: 12px;
          display: flex;
          align-items: center;
          justify-content: center;          
        }
      }
      
    }

    &__content{
      position: fixed;
      top: 0;
      bottom: 0;
      right: 0;
      z-index: 5;

      width: 80%;
      height: 100vh;

      border-left: 2px solid var(--color-gray);
      background-color: var(--color-white);

      display: flex;
      flex-direction: column;      
    }

    &__close{                
      align-self: flex-end;
      margin-top: 31px;
      cursor: pointer;
    }

    &__list{
      list-style: none;
      margin-top: 20px;      
      display: flex;
      flex-direction: column;            
    }
    
    &__separator{
      margin: 10px 0;
      margin-top: 20px;
      align-self: center;            
      max-width: 267px;
      width: 100%;
      border: 1px solid var(--color-gray);        
    }
    
    &__item{
      padding: 10px 16px;
      cursor: pointer;  

      &:hover{
        background-color: var(--color-light-gray);
      }

      &-link{
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 26px;       
        text-decoration: none;
        color: var(--color-black);

        display: flex;
        align-items: center;
        vertical-align: middle;
        gap: 10px;
      }      
    }

    @media screen and (min-width: 680px){
      display: none;      
    }
  } 

  @media screen and (max-width: 1300px) {
    padding-left: 50px;
    padding-right: 50px;
  }

  @media screen and (max-width: 680px){
    padding-left: 20px;
    padding-right: 20px;
  }
}